.ranges {
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(141, 151, 158, 0.25);
    border-radius: 8px;
    padding: 30px 60px;
    hr {
        border: 1px solid #eff0f5;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .rangeInfo {
        position: relative;
        width: 542px;
        height: 52px;
        display: flex;
        justify-content: center;
        margin-top: 38px;
        background: linear-gradient(
            270deg,
            rgba(229, 242, 240, 0) 0%,
            #e5f2f0 4.69%,
            #e5f2f0 95.31%,
            rgba(229, 242, 240, 0) 100%
        );
        @media (max-width: 768px) {
            width: 310px;
        }
    }
    .values {
        display: flex;
        width: 542px;
        justify-content: space-around;
        margin-top: 2px;
        @media (max-width: 768px) {
            width: 100%;
            padding: 0px 20px;
            font-size: 12px;
        }
        .min {
            color: #00234b;
            position: relative;
            right: 20px;
        }
        .max {
            color: #00234b;
            position: relative;
            left: 38px;
        }
    }
    .baseSalary {
        display: block;
        justify-content: center;
        @media (max-width: 768px) {
            order: 1;
        }
    }
    .month {
        font-weight: bold;
        color: #00234b;
        font-size: 16px;
        margin-top: 34px;
        @media (max-width: 768px) {
            margin-top: 10px;
            font-size: 14px;
            margin-bottom: 7px;
        }
    }
    .radios {
        margin-top: 30px;
        display: flex;
        align-items: baseline;
        @media (max-width: 768px) {
            margin-top: 25px;
        }
    }
    // @media (max-width: 768px) {
    //     order: 2;
    // }

    .active {
        color: #acb9c6;
    }
    .unactive {
        color: #064946;
    }
    input[type="radio"] {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border: 2px solid #acb9c6;
        border-radius: 50%;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px) {
            width: 17px;
            height: 17px;
        }
    }

    input[type="radio"]:before {
        content: "";

        // display: block;
        width: 67%;
        height: 66%;
        border-radius: 50%;
        margin-top: 0px;
        border-radius: 50%;
        @media (max-width: 768px) {
            width: 64%;
            height: 67%;
        }
    }
    input[type="radio"]:checked {
        border: 2px solid #064946;
    }
    input[type="radio"]:checked:before {
        background: #064946;
    }

    .net {
        font-weight: bold;
        color: #00234b;
        font-size: 32px;
        margin: 10px 0px;
        @media (max-width: 768px) {
            font-size: 24px;
            margin-bottom: 7px;
        }
    }
    .avg {
        font-weight: bold;
        color: #00234b;
        font-size: 14px;
        @media (max-width: 768px) {
            font-size: 12px;
            margin-bottom: 7px;
        }
    }
}
