<div class="login">
    <div style="display: flex; grid-gap: 20%;">        
            <div class="image "><img src="../../assets/images/loginImage.png" /> </div>    
            <div class="login__form">
                <div>
                    <p class="login__firstTitle">Welcome back,</p>
                    <p class="login__secTitle">Login as an admin user</p>

                    <div class="input-label mand">Email</div>
                    <v-text-field outlined single-line class="migrate" label="enter email" v-model="email" />
                    <p class="errorMsg" >{{emailError}}</p>
                    <div class="input-label mand">Password</div>
                    <v-text-field type="password" outlined single-line class="migrate" label="enter Password" v-model="password" />
                    <p class="errorMsg" >{{passError}}</p>
                    <button @click="logIn">Login now</button>
                </div>
            </div>
    </div>
</div>