<div class="footer">
    <div class="container cont">
      <div class="row">
        <div class="col-12 col-sm-3">
          <img  src="../../../assets/footer/Wm-logo.png" />

          <div class="social">
            <span class="img">
                <img src="../../../assets/footer/linkedIn.png" />
            </span>
            <span class="img">
                <img src="../../../assets/footer/twitter.png" />
            </span>
            <span>
                <img src="../../../assets/footer/facebook.png" />
            </span>
          </div>
          <p class="address">
            Richard-Ermisch-Str. 7, 10247 Berlin, Germany WorkMotion Software
            GmbH registered with the commercial register in Germany under HRB
            219211 B.
          </p>
        </div>
        <div class="col-12 col-sm-2">
          <p class="title">Product</p>
          <p class="desc">Workmotion Platform</p>
        </div>
        <div class="col-12 col-sm-2">
          <p class="title">Services</p>
          <p class="desc">How it works</p>
          <p class="desc">Features</p>
        </div>
        <div class="col-12 col-sm-2">
          <p class="title">Resources</p>
          <p class="desc">Blog</p>
          <p class="desc">FAQ</p>
          <p class="desc">Privacy Policy</p>
          <p class="desc">Imprint</p>
          <p class="desc">Help Center</p>
        </div>
        <div class="col-12 col-sm-2">
          <p class="title">About Us</p>
          <p class="desc">Meet our team</p>
        </div>
        <div class="col-12 col-sm-1">
          <p class="title">Careers</p>
          <p class="desc">We are hiring</p>
        </div>
      </div>
      <div class="row rowTwo">
        <div class=" col-12 col-sm-9">
          <p class="descTwo">WorkMotion Software GmbH</p>
        </div>
      </div>
    </div>
  </div>