<div>
    <div class="dropdown">
        <div class="row">
            <div class="col-4">
                <v-autocomplete v-model="selectedJob" :items="jobs" dense label="select job" item-text="name"
                    item-value="id" return-object solo></v-autocomplete>
            </div>
            <div class="col-4">
                <v-autocomplete v-model="selectedCountry" :items="countries" dense label="select job" item-text="name"
                    item-value="id" return-object solo></v-autocomplete>
            </div>
            <div class="col-2">
                <button @click="searchSalary">
                    <img src="../../assets/Search.png" style="margin-right: 5px;"/>
                    Find Salary</button>
            </div>
        </div>


    </div>
    <Loader v-if="loading"/>
    <Ranges :salaryRanges="salaryRanges" :selectedCountry="selectedCountry"  v-if="!loading"/>
</div>